* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    background: #e0e8ff;
    height: 100vh;
    position: relative;
}

.container>img {
    width: 100%;
    height: 50%;
}

@media (max-width:767px) {
    .container>img {
        height: 20%;
    }
}

.container .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ffffff;
    width: 500px;
    height: 750px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    max-width: 100%;
    box-shadow: 0px 18px 24px #c7d0f7;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media (max-width:767px) {
    .container .card {
        width: 345px;
        height: 580px;
    }
}

.container .card>img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container .card h3 {
    font-size: 26px;
    color: #212f56;
    margin-top: 35px;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .container .card h3 {
        font-size: 23px;
        margin-bottom: 16px;
        margin-top: 25px;
    }
}

.container .card p {
    color: #7f839c;
    margin: 0 40px;
    font-size: 18px;
    line-height: 1.5;
}


@media (max-width:767px) {
    .container .card p {
        font-size: 15px;
    }
}

.container .card .box {
    background-color: #f8f9fe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 60px;
    padding: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media (max-width:767px) {
    .container .card .box {
        padding: 10px;
        width: 280px;
        margin: 30px auto;
    }
}

.container .card .box .flex {
    display: flex;
    align-items: center;
}

.container .card .box .text {
    margin-left: 15px;
}


.container .card .box .text span:first-child {
    color: #242e49;
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 7px;
}

@media (max-width:767px) {
    .container .card .box .text span:first-child {
        font-size: 15px;
        margin: 2px;
    }
}

.container .card .box .text span:last-child {
    font-size: 18px;
}

@media (max-width:767px) {
    .container .card .box .text span:last-child {
        font-size: 15px;
    }
}

.container .card .box .link a {
    color: #3d35a5;
    font-weight: bold;
    display: block;
    font-size: 18px;
}

@media (max-width:767px) {
    .container .card .box .link a {
        font-size: 13px;
    }
}

.container .card .box .link a:hover {
    color: #8e8bd2;
    text-decoration: none;
}

.container .card .proceed {
    background-color: #382ae1;
    color: #fff;
    margin: 40px 65px;
    padding: 25px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 20px 15px #e3e0fb;
}

@media (max-width:767px) {
    .container .card .proceed {
        padding: 15px;
        width: 280px;
        margin: 30px auto;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        font-size: 14px;
    }
}

.container .card .proceed:hover {
    background-color: #766cf1;
    cursor: pointer;
}

.container .card .footer {
    color: #6d7697;
    font-weight: bold;
    font-size: 18px;
}

.container .card .footer:hover {
    color: #262e53;
    cursor: pointer;
}

@media (max-width:767px) {
    .container .card .footer {
        margin: 30px auto;
        font-size: 15px;
    }
}